# 개발 서버: 인증 쿠키가 localhost에서 정상 동작하도록 Vite 프록시를 사용합니다.
VITE_API_BASE_URL=/backend
VITE_API_PROXY_TARGET=http://52.79.207.80:8080
# 최종 전환 시 위 값을 아래 주소로 바꾸면됨요.
# VITE_API_BASE_URL=http://buttie.duckdns.org/api/

# true로 바꾸면 기존 목 로그인 동작을 사용할 수 있음 ㅇㅋ? 볼때 참고하세여
VITE_USE_MOCK_API=false
